$small: 768px;
$medium: 1024px;
$large: 1200px;
$extraLarge: 1600px;
$mainColor: #029aa8;
$descriptionColor: rgb(185, 185, 185);
$boxShadow: rgb(230, 230, 230);
@mixin textOverWidth {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 5px 10px;

  @media only screen and (min-width: $small) {
    margin: 10px 80px;
  }

  @media only screen and (min-width: $medium) {
    margin: 10px 120px;
  }

  @media only screen and (min-width: $large) {
    margin: 15px 200px;
  }

  @media only screen and (min-width: $extraLarge) {
    margin: 15px 350px;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 250px);

  @media only screen and (min-width: $small) {
    height: calc(100vh - 290px);
  }

  @media only screen and (min-width: $medium) {
    height: calc(100vh - 390px);
  }

  @media only screen and (min-width: $large) {
    height: initial;
    flex-direction: row;
  }
}

.profileCard {
  display: flex;
  flex-direction: column;

  .cardTitle {
    padding: 5px 15px;
    font-size: 14px;
    color: #fff;
    background-color: $mainColor;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: none;

    @media only screen and (min-width: $large) {
      display: flex;
      justify-content: center;
    }
  }
}

.personalInformation {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  box-shadow: 0 0 2px $boxShadow;
  border-radius: 5px;
  padding: 10px;

  @media only screen and (min-width: $small) {
    padding: 15px;
  }

  @media only screen and (min-width: $medium) {
    padding: 20px;
  }

  @media only screen and (min-width: $large) {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .avatar {
    border-radius: 5px;
    width: 100px;

    @media only screen and (min-width: $small) {
      width: 180px;
    }

    @media only screen and (min-width: $medium) {
      width: 200px;
    }

    @media only screen and (min-width: $large) {
      width: 150px;
    }

    img {
      display: flex;
      width: 100%;
    }
  }

  .detail {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 10px;

    @media only screen and (min-width: $small) {
      padding: 0 0 0 15px;
    }

    @media only screen and (min-width: $medium) {
      padding: 0 0 0 20px;
    }

    @media only screen and (min-width: $large) {
      padding: 10px 0 0 0;
      align-items: center;
    }

    .basicInformation {
      display: flex;
      flex-direction: column;
      color: $descriptionColor;
      font-size: 10px;
      font-weight: 300;

      @media only screen and (min-width: $small) {
        font-size: 14px;
      }

      @media only screen and (min-width: $medium) {
        font-size: 16px;
      }

      @media only screen and (min-width: $large) {
        align-items: center;
        font-size: 12px;
      }

      @media only screen and (min-width: $extraLarge) {
        align-items: center;
        font-size: 14px;
      }

      .fullname {
        color: $mainColor;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;

        @media only screen and (min-width: $small) {
          font-size: 16px;
        }

        @media only screen and (min-width: $medium) {
          font-size: 18px;
        }

        @media only screen and (min-width: $large) {
          font-size: 14px;
        }

        @media only screen and (min-width: $extraLarge) {
          font-size: 16px;
        }
      }
    }

    .statistics {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 10px;
      background-color: rgb(248, 248, 248);
      border-radius: 5px;

      @media only screen and (min-width: $small) {
        margin-top: 15px;
      }

      @media only screen and (min-width: $medium) {
        margin-top: 20px;
      }

      @media only screen and (min-width: $large) {
        margin-top: 40px;
      }

      .statisticsCategory {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 5px;

        @media only screen and (min-width: $small) {
          padding: 10px;
        }

        @media only screen and (min-width: $large) {
          padding: 10px 15px;
        }

        .title {
          color: $descriptionColor;
          font-size: 10px;

          @media only screen and (min-width: $small) {
            font-size: 12px;
          }

          @media only screen and (min-width: $medium) {
            font-size: 14px;
          }

          @media only screen and (min-width: $large) {
            font-size: 12px;
          }

          @media only screen and (min-width: $extraLarge) {
            font-size: 14px;
          }
        }

        .value {
          font-size: 10px;

          @media only screen and (min-width: $small) {
            font-size: 14px;
          }

          @media only screen and (min-width: $medium) {
            font-size: 16px;
          }

          @media only screen and (min-width: $large) {
            font-size: 14px;
          }

          @media only screen and (min-width: $extraLarge) {
            font-size: 16px;
          }
        }

        img {
          padding-top: 2px;
          width: 10px;

          @media only screen and (min-width: $small) {
            padding-top: 2px;
            width: 14px;
          }

          @media only screen and (min-width: $medium) {
            padding-top: 3px;
            width: 16px;
          }

          @media only screen and (min-width: $large) {
            padding-top: 2px;
            width: 14px;
          }

          @media only screen and (min-width: $extraLarge) {
            padding-top: 3px;
            width: 16px;
          }
        }
      }
    }
  }
}

.testReview {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $large) {
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
    border-left: 2px solid rgb(245, 245, 245);
    width: 100%;
  }

  .reviewContainer {
    position: relative;
    margin: 15px 0 0 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px $boxShadow;

    @media only screen and (min-width: $small) {
      margin: 20px 0 0 0;
      padding: 15px;
    }

    @media only screen and (min-width: $medium) {
      margin: 30px 0 0 0;
      padding: 20px;
    }

    @media only screen and (min-width: $large) {
      margin: 0 0 20px 0;
      padding: 0;
    }

    .reviewTitle {
      position: absolute;
      top: -13px;
      left: 8;
      padding: 5px;
      font-size: 10px;
      color: $mainColor;
      background-color: #fff;

      @media only screen and (min-width: $small) {
        top: -20px;
        left: 12px;
        padding: 8px;
        font-size: 14px;
      }

      @media only screen and (min-width: $medium) {
        top: -25px;
        left: 15px;
        padding: 10px;
        font-size: 16px;
      }

      @media only screen and (min-width: $large) {
        position: initial;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 5px 15px;
        font-size: 14px;
        color: #fff;
        background-color: $mainColor;
      }

      span {
        text-transform: uppercase;
      }

      i {
        text-decoration: underline;
        font-style: normal;
      }
    }

    .reviews {
      font-size: 12px;
      font-weight: 400;

      @media only screen and (min-width: $small) {
        font-size: 16px;
      }

      @media only screen and (min-width: $medium) {
        font-size: 18px;
      }

      @media only screen and (min-width: $large) {
        padding: 10px 15px;
        font-size: 14px;
      }

      @media only screen and (min-width: $extraLarge) {
        font-size: 16px;
      }

      a {
        padding: 2px 5px;
        border-radius: 2px;
        color: $mainColor;
        text-decoration: underline;

        @media only screen and (min-width: $small) {
          padding: 5px 8px;
        }

        @media only screen and (min-width: $medium) {
          padding: 8px 10px;
        }

        @media only screen and (min-width: $large) {
          padding: 2px 5px;
        }

        &:hover {
          color: #fff;
          background-color: $mainColor;
        }
      }
    }

    .notReviewYet {
      color: $descriptionColor;
    }
  }
}
