$small: 768px;
$medium: 1024px;
$large: 1200px;
$extraLarge: 1600px;

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 70px;
  background-image: url("../../../assets/headerBackground-big.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (min-width: $small) {
    height: 100px;
  }

  @media only screen and (min-width: $medium) {
    height: 150px;
  }

  @media only screen and (min-width: $large) {
    height: 90px;
    padding-top: 20px;
  }

  @media only screen and (min-width: $extraLarge) {
    height: 130px;
  }
}

.headerTitle {
  color: #fff;
  font-size: 14px;
  font-weight: 200;
  padding-top: 20px;

  @media only screen and (min-width: $small) {
    font-size: 18px;
    padding-top: 25px;
  }

  @media only screen and (min-width: $medium) {
    font-size: 26px;
    padding-top: 45px;
  }

  @media only screen and (min-width: $large) {
    font-size: 20px;
    padding-top: 0px;
  }

  @media only screen and (min-width: $extraLarge) {
    font-size: 30px;
    padding-top: 10px;
  }
}

.headerTitle > span {
  text-transform: uppercase;
  font-weight: 700;
}
