$small: 768px;
$medium: 1024px;
$large: 1200px;
$extraLarge: 1600px;

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  margin: 5px 10px;
  margin-top: -70px;

  @media only screen and (min-width: $small) {
    margin: 5px 10px;
    margin-top: -100px;
  }

  @media only screen and (min-width: $medium) {
    margin: 20px 0;
    margin-top: -130px;
  }

  @media only screen and (min-width: $large) {
    margin: 0;
    margin-top: -130px;
  }

  @media only screen and (min-width: $extraLarge) {
    margin: 0;
    margin-top: -120px;
  }
}
