$small: 768px;
$medium: 1024px;
$large: 1200px;
$extraLarge: 1600px;
$mainColor: #029aa8;
$boxShadow: rgb(230, 230, 230);

.controlPanel {
  flex: 0 1 320px;
  display: none;
  flex-direction: column;
  margin: 0 0 0 20px;
  padding: 0 20px 15px 20px;
  border-left: 2px solid rgb(245, 245, 245);
  overflow: auto;

  @media only screen and (min-width: $large) {
    display: flex;
  }

  @media only screen and (min-width: $extraLarge) {
    flex: 0 1 360px;
  }

  .countdownTimer {
    display: flex;
    flex-direction: column;
    margin: 0 0 15px 0;
    width: calc(100% - 5px);
    border: none;
    border-radius: 5px;

    .countdownTimerTitle {
      margin: 0;
      padding: 5px 10px;
      font-size: 13px;
      font-weight: 300;
      color: #fff;
      background-color: $mainColor;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      @media only screen and (min-width: $extraLarge) {
        font-size: 14px;
      }
    }

    .countdownTimerDisplay {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
      font-size: 14px;
      font-weight: 300;
      text-align: justify;
      background-color: #fff;
      border: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 0 0 2px $boxShadow;

      @media only screen and (min-width: $extraLarge) {
        font-size: 16px;
      }
    }

    .timerCountingSet {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 110px;
      margin: 10px 15px;
    }

    .timerCountingSet_countingNumber {
      font-size: 80px;
      line-height: 80px;
      font-weight: 500;
    }

    .timerCountingSet_unit {
      font-size: 18px;
      font-weight: 400;
      margin: 0;
    }

    .gapBetweenTwoCountingNumber {
      font-size: 50px;
    }
  }

  .listQuestion {
    display: flex;
    flex-direction: column;
    margin: 0 0 15px 0;
    width: calc(100% - 5px);
    border: none;
    border-radius: 5px;

    .listQuestionTitle {
      margin: 0;
      padding: 5px 10px;
      font-size: 13px;
      font-weight: 300;
      color: #fff;
      background-color: $mainColor;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    @media only screen and (min-width: $extraLarge) {
      font-size: 14px;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 10px 10px 5px 10px;
      background-color: #fff;
      border: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 0 0 2px $boxShadow;

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        margin: 0 5px 5px 0;
        width: 15px;
        height: 25px;
        font-size: 13px;
        color: $mainColor;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid $mainColor;

        @media only screen and (min-width: $extraLarge) {
          font-size: 14px;
        }

        &:hover {
          cursor: pointer;
          color: #fff;
          background-color: $mainColor;
        }
      }

      .currentItem {
        color: #fff;
        background-color: $mainColor;

        &:hover {
          cursor: default;
        }
      }
    }
  }
}
