$small: 768px;
$medium: 1024px;
$large: 1200px;
$extraLarge: 1600px;

.controlPanel {
  flex: 0 1 320px;
  display: none;
  flex-direction: column;
  margin: 0 0 0 20px;
  padding: 0 20px 15px 20px;
  border-left: 2px solid rgb(245, 245, 245);
  overflow: auto;

  @media only screen and (min-width: $large) {
    display: flex;
  }

  @media only screen and (min-width: $extraLarge) {
    flex: 0 1 360px;
  }
}
